<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>To-Do Now: An amazing todo appp</title>
		<!-- <link rel="stylesheet" href="/css/home.css"> -->
	</head>
	<body>
		<!-- <header>
			<img src="/images/farhan.jpeg" alt="Pic of Farhan" class="logo"/>
		</header> -->
		<main>
			<h1>404 - Not Found</h1>
			<p>So sorry, but what you wanna do can't be done!</p>
		</main>
	</body>
</html>
