<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>To-Do Now: Login</title>
		<!-- <link rel="stylesheet" href="/css/home.css" /> -->
	</head>
	<body>
		<!-- <header>
			<img src="/images/farhan.jpeg" alt="Pic of Farhan" class="logo" />
		</header> -->
		<main>
			<!-- <h1>To-Do Now</h1>
			<p>Gotta do what you gotta do; now!</p> -->

			<h2>Sign In</h2>
			<form action="/auth/signin" method="post">
				<label for="email">Email <Address></Address>:</label><br />
				<input type="email" id="email" name="email" value="" required /><br /><br />
				<label for="password">Password:</label><br />
				<input type="password" id="password" name="password" value="" required /><br /><br />
				<input type="submit" value="Submit" />
			</form>

            <p>Don't have an account? <a href="/auth/signup">Register</a></p>
		</main>
	</body>
</html>
