<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Header</title>
        <link rel="stylesheet" href="/css/header.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<img src="/images/dojo.png" alt="Dojo representation" class="logo" />

			<div class="header-info">
				<h1>Task Dojo</h1>
				<p class="motto">Gotta do what you gotta do</p>
			</div>
		</header>
	</body>
</html>
