* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
	--my-brown: #654a4e;
}
header{
	display: flex;
	align-items: center;
    justify-content: center;
    gap: 1em;
}
.header-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-size: 2rem;
	color: var(--my-brown);
	letter-spacing: 1pt;
}
.logo {
	width: 50px;
}
.motto{
	font-family: monospace;
	font-size: .8rem;
    font-weight: bold;
}
.header-info p{
    margin: 0;
}
