<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Footer</title>
        <link rel="stylesheet" href="/css/footer.css">
	</head>
	<body>
		<footer>
			<p>
                Made with  
                <img src="/images/heart.png" alt="Pic of heart" />
                by <a href="https://github.com/codeHokage1" target="_blank">codeHokage.</a>
            </p>
		</footer>
	</body>
</html>
